<footer class="footer ">
  <nav class="navbar navbar-fixed-bottom">
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <!--<li><%= link_to "Contact", '#' %></li> -->
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
