<header class="navbar navbar-fixed-top navbar-default">
  <div class="navbar">
    <%= link_to "Awesome Tron 2D", '/signin', id: "logo" %>
    <nav>
      <ul class="nav navbar-right">
        <%= link_to "Home",    current_user %>
        <% if signed_in? %>
          <%= link_to "Sign out", signout_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign in", signin_path %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
